{% extends 'template/bootstrap.html' %}

{% block icon %}
  {#
    图标:
    https://www.svgrepo.com/
    https://iconpark.oceanengine.com/official
   #}
  {{ url_for('static', filename='favicon-32x32.png') }}
{% endblock %}


{% block title %}
  NodeSeek(Lite)
{% endblock %}


{% block description %}
  NodeSeek Lite, 基于NodeSeek官方RSS的轻量级看帖神器
{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
      body {
          background-image: linear-gradient(#d4d4d4 1px, transparent 0), linear-gradient(90deg, #d4d4d4 1px, transparent 0);
          background-size: 32px 32px;
      }
  </style>
{% endblock %}

{% block content %}
  <div id="app" class="d-flex flex-column justify-content-center align-items-center">

    {% block app %}

      <div class="container-fluid" style="max-width: 666px;">
        <nav class="navbar bg-body-tertiary mb-4" style="background-color: #fff;">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
              <img src="{{ url_for('static', filename='android-chrome-192x192.png') }}"
                   width="21" height="21" alt="icon"
              />
              <span>NodeSeek Lite</span>
            </a>
            <a href="{{ url_for('setting.index') }}">
              <img src="{{ url_for('static', filename='setting-two.svg') }}"
                   width="21" height="21" alt="icon"
              />
            </a>
          </div>
        </nav>

        {% block container %}
        {% endblock %}
      </div>



      <div style="margin-top: 20px;"></div>

    {% endblock %}

  </div>
{% endblock content %}


{% block scripts %}
  {{ super() }}
{% endblock %}
