{% extends 'frame/base.html' %}


{% block styles %}
  {{ super() }}
  <style>
      .tag {
          text-decoration: none;
          background: #fbfbfb;
          border: none;
          border-radius: 2px;
          bottom: 8px;
          box-shadow: 0 0 2px rgba(0, 0, 0, .5);
          color: unset;
          height: 20px;
          line-height: 20px;
          padding: 0 4px;
          position: absolute;
          right: 13px;
      }

      .app {
          background-color: #fff;
          border-radius: 1rem;
          box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
          box-sizing: border-box;
          margin-bottom: 20px;
          margin-top: 15px;
          padding: 25px 30px;
          transition: background-color .5s
      }
  </style>

{% endblock %}

{% block container %}

  <div class="app">

    <ul class="list-group list-group-flush">
      {% for post in post_list %}
        <li class="list-group-item">
          <div class="text-break" style="font-size: 14px; font-weight: 700;">
            <a href="{{ post.url }}"
               style="color: #555; text-decoration: none;">
              {{ post.title }}
            </a>
          </div>
          <div class="text-break" style="font-size: 12px;">{{ post.summary }}</div>

          <div style="font-size: 11px;">
            <span class="me-2">
              <img src="{{ url_for('static', filename='user.svg') }}"
                   width="12" height="12" alt="icon"
              />
              {{ post.author }}
            </span>
            <span> {{ post.display_time_ago }}</span>
            <a class="tag" href="{{ post.tag_url }}"> {{ post.tag_zh }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>


{% endblock %}


{% block scripts %}
  {{ super() }}
{% endblock %}
